.cr {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}
.Nav {
  background-color: #f1f5f9;
  padding: 20px;
  min-height: 10vh;
  width: 100%;
}

.Logo {
  height: 70px;
  width: 100px;
}

.ViewContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background-color: #ffffff;
  width: 80%;
}

.image {
  height: 250px;
  width: 250px;
  margin-right: 10px;
}

.paragraph {
  color: #64748b;
  font-family: 'Roboto';
  font-size: 22px;
}

.FailContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.FailImage {
  height: 250px;
  width: 250px;
  margin-right: 16px;
}

.h {
  color: #1e293b;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Roboto';
}

.p {
  color: #475569;
  font-size: 16px;
  font-family: 'Roboto';
}

.b {
  background-color: #4656a1;
  color: #ffffff;
  font-family: 'Roboto';
  border: none;
  padding: 7px;
  border-radius: 3px;
}

.heading {
  color: #1e293b;
  font-size: 30px;
  font-family: 'Roboto';
  margin-bottom: 7px;
}
